@using CMS_CarnesDonFernando.Models;
@model List<SucursalesModel>


@{
    ViewData["Title"] = "Index";

    var ListaDias = new List<SelectListItem>
        {
            new SelectListItem {Value = "Lunes", Text = "Lunes"},
            new SelectListItem {Value = "Martes", Text = "Martes"},
            new SelectListItem {Value = "Miercoles", Text = "Miércoles"},
            new SelectListItem {Value = "Jueves", Text = "Jueves"},
            new SelectListItem {Value = "Viernes", Text = "Viernes"},
            new SelectListItem {Value = "Sabado", Text = "Sábado"},
            new SelectListItem {Value = "Domingo", Text = "Domingo"},
        };

    var ListaDiasHasta = new List<SelectListItem>
    {
            new SelectListItem {Value = "", Text = ""},
            new SelectListItem {Value = "Cerrado", Text = "Cerrado"},
            new SelectListItem {Value = "Lunes", Text = "Lunes"},
            new SelectListItem {Value = "Martes", Text = "Martes"},
            new SelectListItem {Value = "Miercoles", Text = "Miércoles"},
            new SelectListItem {Value = "Jueves", Text = "Jueves"},
            new SelectListItem {Value = "Viernes", Text = "Viernes"},
            new SelectListItem {Value = "Sabado", Text = "Sábado"},
            new SelectListItem {Value = "Domingo", Text = "Domingo"},
    };


}


<!DOCTYPE html>
<html lang="es-CR">

<head>
    <title>Carnes Don Fernando</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Fernanda Gutierrez G">
    <!-- Mobile Specific Metas -->
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta content='IE=edge' http-equiv='X-UA-Compatible' />

    <link rel="icon" href="~/assets/img/flaticon/cropped-logo-Don-Fernando-512px-32x32.png" sizes="32x32">
    <link rel="icon" href="~/assets/img/flaticon/cropped-logo-Don-Fernando-512px-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="~/assets/img/flaticon/cropped-logo-Don-Fernando-512px-180x180.png">

    <!-- Plugins -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="~/assets/plugins/datatable/css/datatables.min.css">
    <link rel="stylesheet" href="https://fengyuanchen.github.io/datepicker/css/datepicker.css">
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/index.css">
    <link rel="stylesheet" href="~/assets/css/jquery.timepicker.min.css" />


</head>

<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg">
            <div class="row nav-bar">
                <a class="navbar-brand" href="#">
                    <img src="~/assets/img/logo simple.png" alt="Consulting Group Corporación" class="logo img-responsive" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">☰</button>
                <div class="collapse navbar-collapse nav-mobile " id="navbar-collapse">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item"> <a class="nav-link" href="#" id="Sucursales_tab" data-url="@Url.Action("Index", "Sucursales")">Sucursales</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#" id="Promociones_tab" data-url="@Url.Action("Index", "Promociones")">Promociones</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#" id="PlanLealtad_tab" data-url="@Url.Action("Index", "PlanLealtad")">Plan de Lealtad</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="#" id="Productos_tab" data-url="@Url.Action("Index", "ProductosMes")">Productos del Mes</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#" id="AcercaDe_tab" data-url="@Url.Action("Index", "AcercaDe")">Acerca De</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#" id="Configuracion_tab" data-url="@Url.Action("Index", "Parametrizacion")">Configuraci&oacute;n</a></li>
                        <li class="nav-item"> <a class="nav-link" href="#" id="CerrarSession_tab" data-url="@Url.Action("CerrarSession", "Home")"><i class="fas fa-power-off fa-lg i-center"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <!-- Modal -->
        <div class="modal fade bd-example-modal-xl" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="frmModal" method="post" enctype="multipart/form-data" asp-controller="Sucursales" asp-action="EjecutarAcciones" autocomplete="off">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control" id="txtNombre" maxlength="100" required>
                                    </div>
                                    <div class="form-row">
                                        <label id="msgNombre" style="color:red;"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Foto</label>
                                        <div id="divImagen">
                                            <img class="imagen-Modal" id="imgSalidaFoto" />
                                        </div>
                                        <div id="divImgFoto">
                                            <input type="file" class="form-control" id="imagenSucursal" value="" accept="image/*" required>
                                        </div>
                                        <div id="divFilter" hidden>
                                            <input type="button" value="Editar Imagen" id="filter">
                                        </div>
                                        <div class="form-row">
                                            <label id="msgImagenSucursal" style="color:red;"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Direcci&oacute;n Google Maps</label>
                                        <input type="text" class="form-control" id="txtMaps" maxlength="250" placeholder="Ingrese la dirección (URL) de Google Maps de la sucursal." required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <label id="msgTxtMaps" style="color:red;"></label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>&Iacute;cono para Google Maps</label>
                                        <div id="divImagen">
                                            <img class="imagen-Modal" id="imgSalidaGoogle" />
                                        </div>
                                        <div id="divImgMaps">
                                            <input type="file" class="form-control" id="imgMaps" value="" accept="image/*" required>
                                        </div>
                                        <div id="divFilter" hidden>
                                            <input type="button" value="Editar Imagen" id="filter">
                                        </div>
                                        <div class="form-row">
                                            <label id="msgImgMaps" style="color:red;"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Direcci&oacute;n Waze</label>
                                        <input type="text" class="form-control" id="txtWaze" maxlength="80" placeholder="Ingrese la dirección (URL) de waze de la sucursal." required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <label id="msgtxtWaze" style="color:red;"></label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>&Iacute;cono para Waze</label>
                                        <div id="divImagen">
                                            <img class="imagen-Modal" id="imgSalidaWaze" />
                                        </div>
                                        <div id="divImgWaze">
                                            <input type="file" class="form-control" id="imgWaze" value="" accept="image/*" required>
                                        </div>
                                        <div id="divFilter" hidden>
                                            <input type="button" value="Editar Imagen" id="filter">
                                        </div>
                                        <div class="form-row">
                                            <label id="msgImgWaze" style="color:red;"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Horarios Tienda</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Desde</label>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Hasta</label>

                                    </div>
                                </div>
                            </div>

                            <div class="form-row">                          
                                <div class="form-group col-md-3">
                                        @Html.DropDownList("ddlDiaT", new SelectList(ListaDias, "Value", "Text"))
                                </div>                  
                         
                                <div class="form-group col-md-3">
                                        @Html.DropDownList("ddlDiaHastaT", new SelectList(ListaDiasHasta, "Value", "Text"))

                                </div>
                        
                                <div class="form-group col-md-3">
                                    <select asp-items="@Html.GetEnumSelectList<Horarios>()" id="dateIniT"></select>
                                </div>
                                <div class="form-group col-md-3">
                                    <select asp-items="@Html.GetEnumSelectList<Horarios>()" id="dateFinT"></select>
                                </div>
                              
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <button type="button" id="btnHorarioTienda" class="btn btn-primary btn-horario">Agregar Horario</button>
                                </div>
                            </div>
                  
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="txtHorarioTienda" disabled required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <label id="msgHorarioTienda" style="color:red;"></label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Horarios Restaurante</label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Desde</label>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Hasta</label>

                                    </div>
                                </div>
                            </div>
                   
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        @Html.DropDownList("ddlDiaR", new SelectList(ListaDias, "Value", "Text"))
                                    </div>
                                    <div class="form-group col-md-3">
                                        @Html.DropDownList("ddlDiaHastaR", new SelectList(ListaDiasHasta, "Value", "Text"))
                                    </div>
                                    <div class="form-group col-md-3">                               
                                        <select asp-items="@Html.GetEnumSelectList<Horarios>()" id="dateIniR"></select>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <select asp-items="@Html.GetEnumSelectList<Horarios>()" id="dateFinR"></select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <button type="button" id="btnHorarioRestaurante" class="btn btn-primary btn-horario">Agregar Horario</button>
                                    </div>
                                </div>

                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="txtHorarioRestaurante" disabled required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <label id="msgHorarioRestaurante" style="color:red;"></label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Tel&eacute;fono Tienda</label>
                                        <input type="tel" class="form-control" id="txtTelTienda" maxlength="8" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <label id="msgTelTienda" style="color:red;"></label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Tel&eacute;fono Restaurante</label>
                                        <input type="tel" class="form-control" id="txtTelRestaurante" maxlength="8" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <label id="msgTelRestaurante" style="color:red;"></label>
                                </div>
                            </div>

                            <input type="hidden" name="pAccion" value="" id="pAccion" />
                            <input type="hidden" class="form-control" id="RowKey" value="">
                            <input type="hidden" class="form-control" id="PartitionKey" value="">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-gray" data-dismiss="modal">Cerrar</button>
                        <button type="submit" id="btn_Registrar" class="btn btn-primary btn-red">Registrar</button>
                    </div>
                </div>
            </div>
        </div>
        <section class="banner">
            <h1>Sucursales</h1>
            <div class="container-floating">
                <div class="row row-floating">
                    <div class="col-12 no-padding-cascade">
                        <table class="table table-hover table-white dt-responsive datatable">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Horario Tienda</th>
                                    <th>Horario Restaurante</th>
                                    <th>Teléfono Tienda</th>
                                    <th>Teléfono Restaurante</th>
                                    <th>Editar</th>
                                    <th>Borrar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count() > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Nombre</td>
                                            <td>@item.HorarioTienda</td>
                                            <td>@item.HorarioRestaurante</td>
                                            <td>@item.TelefonoTienda</td>
                                            <td>@item.TelefonoRestaurante</td>
                                            <td>
                                                <a class="td-edit" href="#" data-toggle="modal" data-target="#modal-register" onclick="CargarFormulario('@item.PartitionKey', '@item.RowKey')">
                                                    <i class="fas fa-edit fa-lg"></i>
                                                </a>
                                            </td>
                                            <td><a class="td-delete" href="#" onclick="EliminarSucursal('@item.PartitionKey', '@item.RowKey')"><i class="fas fa-trash-alt fa-lg"></i></a></td>
                                        </tr>


                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section class="banner-footer"></section>
    </main>

    <footer>
        <h5>
            &copy;
            <script>
                document.write(new Date().getFullYear());
            </script>
            Carnes Don Fernando
        </h5>
    </footer>

    <!--jQuery CDN-->
    @*<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>*@
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" type="text/javascript"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- Plugins-->
    <script src="~/assets/plugins/datatable/js/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.responsive.min.js" type="text/javascript"></script>
    <script src="https://fengyuanchen.github.io/datepicker/js/datepicker.js" type="text/javascript"></script>
    <script src="https://fengyuanchen.github.io/datepicker/js/datepicker.es-ES.js " type="text/javascript "></script>

    <script src="~/assets/js/jquery.timepicker.min.js"></script>
    <script src="~/assets/js/client.js "></script>
    <script src="~/js/FuncionesMenu.js"></script>
    <script src="~/js/Sucursales/Principal_index.js"></script>
    <script src="~/js/sweetalert/sweetalert.min.js"></script>

</body>

</html>





